var React = require('react');

var PropTypes = React.PropTypes;

var {class_name} = React.createClass({
	getInitialState: function () {
		return {

		};
	},

	render: function () {
		return (
			<div>

			</div>
		);
	},

	propTypes: {

	}
});

module.exports = {class_name};
