var React = require('react');

var PropTypes = React.PropTypes;

var {class_name} = function (props) {
	return (
		<div>

		</div>
	);
};

{class_name}.propTypes = {

};

module.exports = {class_name};
